*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}
form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input{
    margin-bottom: 5px;
    padding: 10px;
    color: black;
}
form input[type=submit]:hover{
    background: linear-gradient(to bottom,black, #333333);
}
form input[type=submit]{
    border-radius: 20px;
    border: none;
    background-color: #333333;
    font-weight: bold;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: sans-serif;
}

#button {
    padding: 7px;
    background-color: #666666;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    margin: auto;
    max-width: 200px;
}
#button:hover{
    background: linear-gradient(to bottom,black, #333333);
}

td {
    color: white;
}